.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 24px;
  background-color: var(--yellow);
  color: var(--red);
  border-radius: 24px;
  transition: 0.3s;
  min-height: 515px;
}

.card_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card_top p {
  font-size: 16px;
  line-height: 20px;
}

.card_top img {
  display: inline-block;
  max-width: 270px;
  width: 100%;
  height: 240px;
  object-fit: contain;
}

.card_bottom {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
}

.readmore {
  display: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--red);
  transition: 0.3s;
  padding: 12px;
  max-width: 100%;
  width: 100%;
  background-color: unset;
  border-radius: 20px;
  text-align: center;
}

.card_subtitle {
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: #d72a33;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 800;
  max-width: 300px;
  text-align: center;
}

.card:hover {
  background-color: var(--red);
  color: var(--white);
  transition: 0.3s;
}

.card:hover .readmore {
  display: block;
  background-color: var(--white);
  color: var(--red);
  transition: 0.3s;
}

.card:hover .card_subtitle {
  display: none;
}

@media (max-width: 1800px) {
  .card {
    gap: 24px;
    min-height: 450px;
  }
  .card_top img {
    max-width: 320px;
    height: 200px;
  }
  .card_title {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 1200px) {
  .card_top img {
    height: 160px;
  }
  .readmore {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 880px) {
  .card {
    min-height: 300px;
    padding: 16px;
  }
  .card_top img {
    height: 120px;
  }
  .card_title {
    font-size: 16px;
    line-height: 24px;
  }
  .readmore {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 580px) {
  .card {
    padding: 8px;
    border-radius: 10px;
    min-height: 235px;
    gap: 20px;
    padding-top: 20px;
  }
  .card_top img {
    height: 80px;
  }
  .readmore {
    background-color: var(--white);
    border-radius: 8px;
    padding-block: 9px;
  }
  .card_top p {
    display: none;
  }
  .card_bottom {
    gap: 20px;
  }
  .card_title {
    font-size: 14px;
    line-height: 16px;
  }
  .readmore {
    display: block;
  }
  .card_subtitle {
    display: none;
  }
}

@media (max-width: 380px) {
  .card {
    padding-top: 24px;
  }
  .card_top img {
    height: 120px;
  }
}
