.toast {
  position: fixed;
  top: 100px;
  right: 40px;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  transform: translateY(20px);
  color: var(--white);
  padding: 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
}

.toast.show {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s;
}

.toast svg {
  max-width: 20px;
  width: 100%;
  height: 20px;
  stroke-width: 2px;
}

.copy {
  background-color: blue;
}

.message {
  background-color: green;
}

@media (max-width: 880px) {
  .toast {
    top: 16px;
    right: 16px;
  }
}
