.footer {
  background-color: var(--red);
  color: var(--white);
}

.footer_with_margin {
  margin-top: 120px;
}

.footer_inner {
  padding-block: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.inner_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.left_top {
  padding: 25px 16px;
  background-color: var(--light-red);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo {
  display: inline-block;
  width: 120px;
  height: 96px;
  object-fit: contain;
}

.left_top p {
  width: 100%;
  font-size: 18px;
  line-height: 30px;
}

.left_div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left_div > p {
  font-size: 16px;
  line-height: 24px;
}

.footer_nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer_nav div {
  display: flex;
  align-items: center;
  gap: 24px;
}

.sm {
  width: 64px;
  height: 64px;
  display: grid;
  place-items: center;
  background-color: var(--light-red);
  color: var(--white);
  border-radius: 50%;
  transition: 0.3s;
}

.sm svg {
  width: 28px;
  height: 28px;
}

.ft_number {
  display: inline-block;
  padding-inline: 48px;
  height: 64px;
  background-color: var(--light-red);
  color: var(--white);
  font-size: 16px;
  line-height: 12px;
  border-radius: 17px;
  display: grid;
  place-items: center;
  transition: 0.3s;
}

.inner_right {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.inner_nav_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 28px 40px;
  background-color: var(--light-red);
  border-radius: 20px;
}

.inner_nav_container > p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.inner_nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inner_nav a,
.inner_nav p {
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.inner_nav a:hover,
.inner_nav p:hover {
  color: var(--white);
  transition: 0.3s;
}

.ft_number:hover,
.sm:hover {
  color: var(--yellow);
  transition: 0.3s;
}

.footer_bottom {
  background-color: var(--white);
  color: var(--red);
}

.footer_bottom_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-block: 15px;
}

.footer_bottom_inner p {
  font-size: 16px;
  line-height: 24px;
}

.left_top_mobile {
  display: none;
  gap: 16px;
  padding: 16px;
  border-radius: 20px;
  background-color: var(--light-red);
}

@media (max-width: 1800px) {
  .left_top p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 1200px) {
  .ft_number {
    padding-inline: 24px;
  }
  .inner_nav_container {
    padding: 24px;
  }
  .footer_nav {
    gap: 12px;
  }
}

@media (max-width: 1024px) {
  .footer_nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .inner_nav_container {
    padding: 0px;
    background-color: unset;
  }
  .inner_right {
    padding: 16px;
    background-color: var(--light-red);
    border-radius: 20px;
  }
  .left_top {
    gap: 12px;
  }
  .logo {
    width: 100px;
    height: 70px;
  }
}

@media (max-width: 880px) {
  .footer_with_margin {
    margin-top: 80px;
  }
  .footer_inner {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer_bottom_inner {
    flex-direction: column;
    gap: 4px;
  }
  .footer_bottom_inner p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .left_top_mobile {
    display: flex;
  }
  .left_top {
    display: none;
  }
}

@media (max-width: 580px) {
  .footer_with_margin {
    margin-top: 48px;
  }
  .footer_inner {
    padding-block: 16px;
  }
}

@media (max-width: 380px) {
  .inner_right {
    grid-template-columns: 1fr;
    gap: 36px;
  }
  .left_top_mobile a {
    display: none;
  }
  .footer_nav div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .sm {
    width: 52px;
    height: 52px;
  }
}
