.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 12px;
  padding-bottom: 24px;
  background-color: var(--yellow);
  border-radius: 24px;
  color: var(--red);
  min-height: 530px;
  transition: 0.3s;
}

.card_img {
  position: relative;
  width: 100%;
  height: 275px;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--red);
}

.card_content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.card_title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 800;
  color: currentColor;
  text-align: center;
  max-width: 300px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_subtitle {
  font-size: 16px;
  line-height: 32px;
  color: #d72a33;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.card_btn {
  display: none;
  background-color: unset;
  color: var(--red);
  padding-block: 12px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  transition: 0.3s;
}

.card:hover {
  background-color: var(--red);
  color: var(--white);
  transition: 0.3s;
}

.card:hover .card_btn {
  display: block;
  background-color: var(--white);
  transition: 0.3s;
}

.card:hover .card_subtitle {
  display: none;
}

@media (max-width: 1800px) {
  .card {
    min-height: 440px;
  }
  .card_img {
    height: 220px;
  }
  .card_title {
    font-size: 18px;
    line-height: 27px;
  }
  .card_btn {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 1200px) {
  .card {
    padding: 12px;
  }
  .card_img {
    height: 200px;
  }
  .card_title {
    font-size: 16px;
    line-height: 24px;
  }
  .card_btn {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 880px) {
  .card {
    min-height: 300px;
    gap: 16px;
  }
  .card_img {
    height: 160px;
  }
  .card_btn {
    padding-block: 10px;
  }
}

@media (max-width: 580px) {
  .card {
    padding: 6px;
    min-height: 220px;
    border-radius: 10px;
  }
  .card_img {
    height: 110px;
    border-radius: 10px;
  }
  .card_title {
    font-size: 14px;
    line-height: 16px;
  }
  .card_subtitle {
    display: none;
  }
  .card_btn {
    display: block;
    font-size: 14px;
    line-height: 20px;
    background-color: var(--white);
    border-radius: 6px;
  }
}

@media (max-width: 380px) {
  .card {
    padding: 10px;
    min-height: 280px;
  }
  .card_img {
    height: 180px;
  }
}
