.bottom_form_div {
  background-color: var(--red);
  padding: 42px 28px 30px 28px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bottom_form_top {
  display: flex;
  align-items: center;
  gap: 36px;
}

.bottom_form_logo {
  max-width: 128px;
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.bottom_form_top_texts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bottom_form_top_texts p {
  font-size: 16px;
  line-height: 24px;
  max-width: 380px;
  color: var(--white);
}

.bottom_form {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bottom_form input,
.bottom_form textarea {
  background-color: var(--yellow);
  padding: 36px 40px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 20px;
  color: var(--red);
}

.bottom_form button {
  width: 100%;
  padding-block: 30px;
  background-color: var(--white);
  color: var(--red);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 20px;
}

.bottom_form input::placeholder,
.bottom_form textarea::placeholder {
  color: var(--red);
}

@media (max-width: 1800px) {
  .bottom_form input,
  .bottom_form textarea,
  .bottom_form button {
    padding: 24px 16px;
  }
}

@media (max-width: 1200px) {
  .bottom_form button {
    font-size: 18px;
    line-height: 24px;
  }
  .bottom_form_div {
    padding: 32px 24px;
  }
}

@media (max-width: 880px) {
  .bottom_form_div {
    padding: 24px 16px;
    border-radius: 16px;
  }
  .bottom_form input,
  .bottom_form textarea,
  .bottom_form button {
    border-radius: 10px;
  }
  .bottom_form_top_texts p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 580px) {
  .bottom_form_top {
    gap: 18px;
  }
  .bottom_form_top_texts {
    gap: 4px;
  }
  .bottom_form_logo {
    max-width: 64px;
    height: 50px;
  }
  .bottom_form input,
  .bottom_form textarea,
  .bottom_form button {
    padding: 16px 14px;
  }
  .bottom_form button {
    font-size: 16px;
    line-height: 20px;
  }
  .bottom_form {
    gap: 12px;
  }
}

@media (max-width: 380px) {
  .bottom_form_logo {
    display: none;
  }
}
