@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
}

.modal_inner {
  max-width: 1000px;
  width: 100%;
  height: auto;
  padding-inline: 16px;
}

.youtube_container {
  max-width: 1000px;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: var(--white);
  position: relative;
  pointer-events: all;
  border-radius: 20px;
  overflow: hidden;
}

.youtube_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post_container {
  width: 100%;
  border-radius: 20px;
  padding: 24px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.post_container > p {
  font-size: 25px;
  line-height: 40px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
}

.post_content {
  background-color: var(--white);
  color: var(--black);
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.input_div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input_div input:focus {
  outline: none;
}

.input_div label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: var(--black);
  transition: 0.3s;
}

.input_div > input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px;
}

.input_div p {
  margin-top: 12px !important;
  font-size: 16px;
  line-height: 24px;
}

.withSpan {
  display: flex;
  align-items: center;
  gap: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.withSpan input {
  flex: 1 1 auto;
  border: none;
  padding-block: 12px;
}

.withSpan span {
  font-size: 14px;
  line-height: 20px;
}

.post_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.post_buttons button {
  border: 1px solid var(--black);
  background-color: unset;
  color: var(--black);
  border-radius: 26px;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.post_buttons a {
  display: inline-block;
  text-align: center;
  background-color: var(--red);
  border: 1px solid var(--red);
  color: var(--white);
  border-radius: 26px;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.post_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button button {
  display: grid;
  place-items: center;
}

.post_top button svg {
  max-width: 24px;
  width: 100%;
  height: 24px;
  cursor: pointer;
  stroke-width: 3px;
}

.post_top p {
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
  color: var(--black);
  text-transform: uppercase;
}

.show_modal_container {
  background-color: var(--white);
  aspect-ratio: 16/9;
  position: relative;
}

.info_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  display: none;
  z-index: 2;
}

.info_img,
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.business_container {
  max-width: 1000px;
  width: 100%;
  border-radius: 20px;
  padding: 28px 55px;
  background-color: var(--white);
  position: relative;
  min-height: 560px;
  display: flex;
  align-items: flex-end;
}

.shell_wrapper {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.business_form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.business_form .inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.business_form .mybutton {
  display: grid;
  place-items: center;
  background-color: unset;
  pointer-events: none;
}

.business_form .mybutton button {
  pointer-events: all;
}

.inputs input,
.inputs select {
  padding: 24px 32px;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgba(217, 217, 217, 0.3);
}

@media (max-width: 1200px) {
  .business_container {
    padding: 24px;
  }
}

@media (max-width: 580px) {
  .post_container > p {
    font-size: 20px;
    line-height: 24px;
  }
  .post_buttons {
    grid-template-columns: 1fr;
  }
  .shell_wrapper {
    display: none;
  }
  .business_container {
    min-height: auto;
    padding: 24px;
    padding-top: 48px;
  }
  .inputs input,
  .inputs select {
    padding: 16px 20px;
  }
  .business_form .mybutton button {
    width: 100%;
  }
}
