@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  padding-top: 10%;
  animation: fadeIn 0.3s ease;
}

.modal_inner {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  color: var(--black);
  padding-inline: 16px;
  height: fit-content;
}
