.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header.main {
  background-color: var(--yellow);
  color: var(--red);
}

.header.extra {
  background-color: var(--red);
  color: var(--white);
}

.header.extra a:hover {
  color: var(--yellow);
  transition: 0.3s;
}

.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px;
}

.main_nav {
  display: flex;
  align-items: center;
  gap: 70px;
}

.logo {
  display: inline-block;
  width: 96px;
  height: 76px;
  object-fit: contain;
}

.header_nav {
  display: flex;
  align-items: center;
  gap: 36px;
}

.nav_link {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: currentColor;
  transition: 0.3s;
}

.header.extra .nav_link.active {
  color: var(--yellow);
}

.extra_nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

.lang_changer {
  border: 1px solid currentColor;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: currentColor;
  padding-inline: 18px;
  height: 40px;
  border-radius: 35px;
  background-color: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.lang_changer svg {
  max-width: 16px;
  width: 100%;
  height: 16px;
}

.number {
  font-size: 14px;
  line-height: 18px;
  font-weight: 800;
  letter-spacing: -0.03em;
  color: currentColor;
  border: 1px solid currentColor;
  padding-inline: 30px;
  border-radius: 44px;
  height: 40px;
  display: grid;
  place-items: center;
  transition: 0.3s;
}
