/* === INTRO === */
.intro_inner {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 64px;
}

.intro_left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.intro_left p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--red);
  max-width: 790px;
}

.intro_right {
  width: 100%;
  height: 220px;
  background-color: black;
  border-radius: 20px;
  overflow: hidden;
}

/* === MIDDLE === */
.middle_inner {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 20px;
}

.middle_img {
  position: relative;
  width: 100%;
  height: 330px;
  border-radius: 12px;
  overflow: hidden;
}

.middle_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding: 17px;
  background-color: var(--white);
  border-radius: 12px;
  overflow: hidden;
}

.middle_texts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.middle_desc {
  font-size: 16px;
  line-height: 22px;
  color: var(--red);
}

.middle_nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sm {
  width: 38px;
  height: 38px;
  display: grid;
  place-items: center;
  color: var(--white);
  background-color: var(--red);
  border-radius: 50%;
  transition: 0.3s;
}

.sm svg {
  width: 20px;
  height: 20px;
}

.middle_number {
  display: grid;
  place-items: center;
  background-color: var(--red);
  color: var(--white);
  transition: 0.3s;
  height: 38px;
  padding-inline: 28px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 6px;
}

.sm:hover,
.middle_number:hover {
  color: var(--yellow);
  transition: 0.3s;
}

/* === BOTTOM GRID === */
.about_bottom_inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 24px;
}

.about_bottom_right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.about_bottom_right img {
  display: inline-block;
  width: 100%;
  height: 700px;
  object-fit: contain;
}

@media (max-width: 1200px) {
  .middle_inner {
    grid-template-columns: 1fr 1fr;
  }
  .about_bottom_right img {
    height: 580px;
  }
}

@media (max-width: 1024px) {
  .intro_inner {
    grid-template-columns: 1fr 1fr;
  }
  .about_bottom_inner {
    grid-template-columns: 0.6fr 0.4fr;
  }
}

@media (max-width: 880px) {
  .intro_inner {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .middle_inner {
    grid-template-columns: 1fr;
    padding-inline: 0px;
  }
  .middle_img {
    border-radius: 0px;
  }
  .middle_content {
    padding-block: 0px;
    background-color: unset;
  }
  .about_bottom_inner {
    grid-template-columns: 1fr;
  }
  .about_bottom_right img {
    display: none;
  }
}

@media (max-width: 580px) {
  .intro_left p {
    font-size: 14px;
    line-height: 20px;
  }
  .middle_nav {
    flex-wrap: wrap;
  }
}

@media (max-width: 380px) {
  .intro_left {
    gap: 24px;
  }
}
