/* === HERO === */
.hero {
  max-height: 1000px;
  height: calc(100vh - 100px);
  position: relative;
  z-index: 0;
}

.hero .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.hero .mask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 600px;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero_inner {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  padding-bottom: 5%;
  gap: 80px;
}

.hero_inner > img {
  display: inline-block;
  width: 100%;
  height: 450px;
  object-fit: contain;
}

.hero_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.hero_titles {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--red);
}

.hero_title {
  font-size: 36px;
  line-height: 45px;
  font-weight: 700;
  letter-spacing: -0em;
}

.hero_subtitle {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.03em;
}

.hero_buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero_buttons a {
  display: inline-block;
  padding: 15px 40px;
  border-radius: 58px;
  background-color: var(--red);
  border: 1px solid var(--red);
  color: var(--white);
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: -0.03em;
  transition: 0.3s;
}

.hero_buttons a:hover {
  background-color: var(--white);
  color: var(--red);
  transition: 0.3s;
}

.hero_buttons button {
  display: inline-block;
  padding: 15px 40px;
  border-radius: 58px;
  background-color: unset;
  border: 1px solid var(--red);
  color: var(--red);
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: -0.03em;
  transition: 0.3s;
}

.hero_buttons button:hover {
  background-color: var(--red);
  color: var(--white);
  transition: 0.3s;
}

.pult {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 48px;
  height: 48px;
  z-index: 2;
  background-color: unset;
  border: 2px solid var(--red);
  color: var(--red);
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.pult svg {
  width: 24px;
  height: 24px;
}

.cookie {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 2;
  padding: 16px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cookie p {
  max-width: 250px;
  color: var(--red);
}

.cookie div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cookie button {
  padding: 10px 20px;
}

.cookie button:first-child {
  background-color: var(--white);
  border: 1px solid var(--red);
  color: var(--red);
}

.cookie button:last-child {
  background-color: var(--red);
  color: var(--white);
}

/* === PRODUCTS === */
.products_section {
  padding-top: 32px;
  padding-bottom: 80px;
}

.products_bottom_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.info_div_1 {
  display: flex;
  align-items: center;
  gap: 60px;
}

.info_div_1 p {
  max-width: 285px;
  color: var(--red);
}

.products_btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* === ABOUT === */
.about_section {
  height: 800px;
  background-image: url("../public/media/about_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
}

.about_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: var(--red);
}

.about_title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.about_desc {
  font-size: 18px;
  line-height: 27px;
  max-width: 640px;
  margin-top: 24px !important;
}

.about_buttons {
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 35px;
}

.about_link {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 20px;
  background-color: var(--red);
  border-radius: 18px;
  max-width: 210px;
  width: 100%;
  height: 56px;
}

.about_link div {
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 10px;
}

.about_link p {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: var(--white);
}

/* === BUSINESS === */
.business_section {
  height: 740px;
  z-index: 0;
  position: relative;
}

.business_section > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.business_section::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -10%;
  right: -10%;
  height: 100%;
  max-height: 500px;
  background-color: #f6edd1;
  z-index: -1;
  border-radius: 90% 90% 0 0;
}

.business_inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.business_content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.business_content_container > p {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var(--red);
  margin-top: 80px !important;
}

.business_advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 20px;
  padding: 38px 80px;
  border-radius: 20px;
  background-color: var(--red);
}

.business_advantages p {
  text-align: center;
  color: var(--white);
}

.business_btns {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}

/* === NEWS SECTION === */
.news_section {
  padding-bottom: 48px;
}

.news_section_texts {
  display: flex;
  align-items: center;
  gap: 48px;
}

.news_section_texts p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: var(--red);
  max-width: 280px;
}

.news_section_slides_container {
  padding-top: 60px;
}

.news_section_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
}

.news_section_buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* === BOTTOM SECTION === */
.bottom_section {
  padding-bottom: 120px;
  background-color: var(--yellow);
}

/* === FAQ === */
.faqs_container {
  padding: 24px;
  background-color: var(--red);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.faq {
  background-color: #ee464f !important;
  color: var(--white);
}

.accordion_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.accordion_header svg {
  max-width: 20px;
  width: 100%;
  height: 20px;
  transition: 0.3s;
}

/* === BOTTOM FORM SECTION === */
.bottom_form_section {
  background-image: url("../public/media/form_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom_form_section_inner {
  padding-block: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* === RECIPES SECTION === */
.recipes_section {
  position: relative;
  min-height: 870px;
  display: flex;
  align-items: center;
}

.recipes_section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  max-width: 65%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #ffd353 41.01%,
    rgba(255, 211, 83, 0) 76.25%
  );
  z-index: 1;
  pointer-events: none;
}

.recipes_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.recipes_inner {
  height: 100%;
}

.recipes_inner_content {
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: all;
}

.recipes_titles {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.recipes_titles p {
  font-size: 16px;
  line-height: 24px;
  color: var(--red);
}

.recipes_middle {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 60px;
}

.recipes_middle button {
  width: 112px;
  height: 112px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: var(--light-red);
  color: var(--red);
}

.recipes_middle button svg {
  width: 60px;
  height: 60px;
  transform: rotate(180deg);
  margin-right: 5px;
}

.recipes_middle p {
  color: var(--red);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.recipes_motto {
  display: inline-block;
  width: 200px;
  height: 135px;
  object-fit: contain;
  margin-top: 60px;
}

.recipes_wrapper {
  display: flex;
  justify-content: flex-end;
}

.recipes_swiper {
  max-width: 60%;
  width: 100%;
}

@media (max-width: 1800px) {
  .about_section {
    height: 600px;
    margin-bottom: 0px;
  }
  .hero .mask {
    max-height: 450px;
  }
  .hero_content {
    gap: 32px;
  }
  .hero_inner > img {
    height: 400px;
  }
  .hero_subtitle,
  .hero_buttons a,
  .hero_buttons button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 1200px) {
  .recipes_section {
    min-height: 600px;
  }
  .recipes_section::after {
    max-width: 100%;
  }
  .business_content_container > p {
    text-align: center;
  }
  .business_advantages {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .business_btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .business_section::before {
    max-height: 550px;
  }
  .hero_inner {
    gap: 40px;
  }
  .hero_inner > img {
    height: 320px;
  }
  .hero_buttons a,
  .hero_buttons button {
    padding: 16px 32px;
  }
}

@media (max-width: 880px) {
  .recipes_section {
    min-height: 720px;
  }
  .recipes_inner {
    padding-inline: 0px;
  }
  .recipes_motto {
    margin-top: 16px;
  }
  .recipes_inner_content {
    max-width: 100%;
  }
  .mobile_motto {
    display: grid;
    place-items: center;
  }
  .recipes_content {
    max-width: 100%;
    background-color: var(--yellow);
  }
  .recipes_titles {
    padding-inline: 16px;
  }
  .recipes_middle {
    display: none;
  }
  .pult {
    right: 30px;
    top: 30px;
  }
  .hero {
    display: flex;
    align-items: flex-end;
  }
  .hero_inner {
    grid-template-columns: 1fr;
    gap: 32px;
    height: fit-content;
  }
  .hero_content {
    align-items: center;
    gap: 24px;
  }
  .hero_title {
    font-size: 20px;
    line-height: 24px;
  }
  .hero_subtitle,
  .hero_title {
    text-align: center;
  }
  .bottom_form_section_inner {
    padding-block: 80px;
    grid-template-columns: 1fr;
  }
  .bottom_form_section_inner > span {
    display: none;
  }
  .bottom_section {
    padding-bottom: 80px;
    background-color: unset;
  }
  .faqs_container {
    padding: 0px;
  }
  .info_div_1 p {
    display: none;
  }
  .info_div_1 {
    max-width: 100%;
    width: 100%;
  }
  .products_btns,
  .news_section_bottom {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .news_section_slides_container {
    padding-top: 24px;
  }
  .news_section_texts {
    flex-direction: column;
    align-items: flex-start;
  }
  .news_section_texts p {
    display: none;
  }
  .about_section {
    background-image: none;
    height: auto;
  }
  .mobile_big_img div {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  .mobile_big_img {
    position: relative;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 16px;
    background-color: var(--yellow);
    z-index: 0;
  }
  .mobile_title {
    font-size: 37px;
    line-height: 34px;
    font-weight: 700;
    color: var(--red);
    max-width: 200px;
  }
  .mobile_big_img img {
    z-index: -1;
  }
  .about_logo {
    display: inline-block;
    width: 155px;
    height: 120px;
    z-index: 1 !important;
  }
  .about_inner {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: var(--yellow);
  }
  .about_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media (max-width: 580px) {
  .hero {
    max-height: 740px;
  }
  .hero .mask {
    max-height: 70%;
  }
  .news_section {
    padding-bottom: 0px;
  }
  .about_section {
    margin-bottom: -60px;
  }
  .about_inner {
    padding-top: 0px;
    transform: translateY(-60px);
  }
  .products_section .bottom_section {
    padding-bottom: 48px;
  }
  .business_section {
    min-height: 800px;
  }
  .business_section::before {
    right: -40%;
    left: -40%;
  }
  .business_advantages {
    padding: 30px 16px;
    border-radius: 10px;
    grid-template-columns: 1fr;
    max-width: 100%;
    width: 100%;
    gap: 6px;
  }
  .business_advantages p:nth-child(2n + 1) {
    margin-top: 30px !important;
  }
  .business_advantages p:first-child {
    margin-top: 0px !important;
  }
  .business_btns {
    gap: 16px;
    margin-top: 24px;
  }
  .business_content_container > p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 60px !important;
  }
}

@media (max-width: 380px) {
  .hero .mask {
    max-height: 100%;
  }
  .recipes_inner {
    padding-inline: 16px;
  }
  .recipes_titles {
    padding-inline: 0px;
  }
  .hero_buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    width: 100%;
  }
  .hero_buttons a,
  .hero_buttons button {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .products_btns,
  .news_section_bottom,
  .about_buttons,
  .business_btns {
    grid-template-columns: 1fr;
  }
}
