/* === PRODUCTS === */
.products_section {
  padding-top: 32px;
  padding-bottom: 80px;
}

.products_bottom_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.info_div_1 {
  display: flex;
  align-items: center;
  gap: 60px;
}

.info_div_1 p {
  max-width: 285px;
  color: var(--red);
}

.products_btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* === ABOUT === */
.about_section {
  height: 800px;
  background-image: url("../public/media/about_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: var(--red);
}

.about_title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.about_desc {
  font-size: 18px;
  line-height: 27px;
  max-width: 640px;
  margin-top: 24px !important;
}

.about_buttons {
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 35px;
}

.about_link {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 20px;
  background-color: var(--red);
  border-radius: 18px;
  max-width: 210px;
  width: 100%;
  height: 56px;
}

.about_link div {
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 10px;
}

.about_link p {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: var(--white);
}

/* === NEWS SECTION === */
.news_section {
  padding-bottom: 48px;
}

.news_section_texts {
  display: flex;
  align-items: center;
  gap: 48px;
}

.news_section_texts p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: var(--red);
  max-width: 280px;
}

.news_section_slides_container {
  padding-top: 60px;
}

.news_section_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
}

.news_section_buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* === BOTTOM SECTION === */
.bottom_section {
  padding-bottom: 120px;
  background-color: var(--yellow);
}

/* === FAQ === */
.faqs_container {
  padding: 24px;
  background-color: var(--red);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.faq {
  background-color: #ee464f !important;
  color: var(--white);
}

.accordion_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.accordion_header svg {
  max-width: 20px;
  width: 100%;
  height: 20px;
  transition: 0.3s;
}

/* === BOTTOM FORM SECTION === */
.bottom_form_section {
  background-image: url("../public/media/form_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom_form_section_inner {
  padding-block: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1800px) {
  .about_section {
    height: 600px;
  }
}

@media (max-width: 880px) {
  .bottom_form_section_inner {
    padding-block: 80px;
    grid-template-columns: 1fr;
  }
  .bottom_form_section_inner > span {
    display: none;
  }
  .bottom_section {
    padding-bottom: 80px;
    background-color: unset;
  }
  .faqs_container {
    padding: 0px;
  }
  .info_div_1 p {
    display: none;
  }
  .info_div_1 {
    max-width: 100%;
    width: 100%;
  }
  .products_btns,
  .news_section_bottom {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .news_section_slides_container {
    padding-top: 24px;
  }
  .news_section_texts {
    flex-direction: column;
    align-items: flex-start;
  }
  .news_section_texts p {
    display: none;
  }
  .about_section {
    background-image: none;
    height: auto;
  }
  .mobile_big_img div {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  .mobile_big_img {
    position: relative;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 16px;
    background-color: var(--yellow);
    z-index: 0;
  }
  .mobile_title {
    font-size: 37px;
    line-height: 34px;
    font-weight: 700;
    color: var(--red);
    max-width: 200px;
  }
  .mobile_big_img img {
    z-index: -1;
  }
  .about_logo {
    display: inline-block;
    width: 155px;
    height: 120px;
    z-index: 1 !important;
  }
  .about_inner {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: var(--yellow);
  }
  .about_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media (max-width: 580px) {
  .news_section {
    padding-bottom: 0px;
  }
  .about_inner {
    padding-top: 0px;
    transform: translateY(-60px);
  }
  .products_section .bottom_section {
    padding-bottom: 48px;
  }
}

@media (max-width: 380px) {
  .products_btns,
  .news_section_bottom,
  .about_buttons {
    grid-template-columns: 1fr;
  }
}
