@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");

:root {
  --yellow: #fed253;
  --red: #d72a33;
  --light-red: rgba(244, 65, 74, 0.3);
  --white: #ffffff;
  --black: #000000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  scroll-behavior: "smooth" !important;
  text-decoration: none !important;
}

button,
input,
textarea {
  border: none;
}

button {
  cursor: pointer;
}

button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}

body,
html {
  background-color: #f6edd1 !important;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
  padding-top: 100px;
}

.box,
.bigbox,
.header_box {
  max-width: calc(1244px + 32px);
  width: 100%;
  margin: 0 auto;
  padding-inline: 16px;
}

.bigbox {
  max-width: 1932px;
}

.header_box {
  max-width: calc(1558px + 32px);
}

.section {
  padding-top: 120px;
}

.mini_section {
  padding-top: 80px;
}

.section_inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.section_title /* h3 */ {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: var(--red);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper_buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}

.swiper_btn {
  width: 48px;
  height: 48px;
  border: 2px solid var(--red);
  color: var(--red);
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: unset;
  transition: 0.3s;
}

.swiper_btn:hover {
  background-color: var(--red);
  color: var(--white);
  transition: 0.3s;
}

.swiper_btn svg {
  width: 16px;
  height: 16px;
  stroke-width: 3.25px;
}

.swiper_btn:first-child svg {
  transform: rotate(90deg);
  margin-right: 2px;
}

.swiper_btn:last-child svg {
  transform: rotate(-90deg);
  margin-left: 2px;
}

.desktop {
  display: block !important;
}

.mobile {
  display: none !important;
}

.popup {
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  position: fixed;
  inset: 0;
}

.popup.show {
  opacity: 1;
  transition: 0.5s;
  pointer-events: all;
}

/* === SKELETON === */
@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

.skeleton {
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top;
  animation: shine 2s ease infinite;
  background-color: #f7f6f7;
}

/* === BOOTSTRAP === */
.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button,
.accordion-item {
  border: none !important;
  border-radius: 0px !important;
}

.accordion-item {
  border-radius: 8px !important;
  overflow: hidden !important;
  z-index: 0 !important;
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
  border-color: unset !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed),
.accordion-button {
  background-color: #ee464f !important;
  color: var(--cl-white) !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.accordion-button.collapsed svg {
  transform: rotate(-90deg);
  transition: 0.3s;
}

.accordion-button::after {
  display: none !important;
}

.accordion-body {
  color: rgba(255, 255, 255, 0.85) !important;
  font-size: 16px !important;
  line-height: 24px !important;
  padding-inline: 24px !important;
  padding-bottom: 18px !important;
  font-weight: 300 !important;
}

.accordion-button {
  font-size: 18px !important;
  line-height: 22px !important;
}

.css-13cymwt-control,
.css-13cymwt-control,
.css-t3ipsp-control {
  background-color: rgba(217, 217, 217, 0.3) !important;
  padding: 16px 20px !important;
  border: none !important;
  border-radius: 15px !important;
}

.css-13cymwt-control:focus,
.css-13cymwt-control:focus,
.css-t3ipsp-control:focus {
  outline: none !important;
}

/* = */
.recipes .swiper-slide {
  transition: 0.3s;
}

.recipes .swiper-slide .subtitle {
  display: none;
}

.recipes .swiper-slide-active .subtitle {
  display: block;
}

@media (max-width: 1200px) {
  .grid_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 880px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  main,
  .section {
    padding-top: 80px;
  }
  .grid_container {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .accordion-button:not(.collapsed),
  .accordion-button,
  .accordion-body {
    background-color: var(--red) !important;
  }
}

@media (max-width: 580px) {
  .section,
  .mini_section {
    padding-top: 48px;
  }
  .section_title {
    font-size: 20px;
    line-height: 24px;
  }
  .section_inner {
    gap: 16px;
  }
  .accordion-body {
    font-size: 14px !important;
    line-height: 20px !important;
    padding-inline: 20px !important;
  }
  .css-13cymwt-control,
  .css-13cymwt-control,
  .css-t3ipsp-control {
    padding: 16px !important;
  }
}

@media (max-width: 380px) {
  .grid_container {
    grid-template-columns: 1fr;
  }
  .recipes .swiper-slide-active .subtitle,
  .recipes .swiper-slide .subtitle {
    display: block;
  }
}
