@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");

:root {
  --yellow: #fed253;
  --red: #d72a33;
  --light-red: rgba(244, 65, 74, 0.3);
  --white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  scroll-behavior: "smooth" !important;
  text-decoration: none !important;
}

button,
input,
textarea {
  border: none;
}

button {
  cursor: pointer;
}

button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}

body {
  background-color: #f6edd1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 105vh;
}

main {
  flex: 1 1 auto;
  padding-top: 100px;
}

.box,
.bigbox {
  max-width: 1432px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 16px;
  /* border: 1px solid red; */
}

.bigbox {
  max-width: 1932px;
}

.section {
  padding-top: 120px;
}

article,
section {
  display: none !important;
}

.mini_section {
  padding-top: 80px;
}

.section_inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.section_title /* h3 */ {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: var(--red);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news .splide__arrow {
  display: none !important;
}

.my__arrow {
  width: 48px;
  height: 48px;
  border: 2px solid var(--red);
  color: var(--red);
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: unset;
  transition: 0.3s;
}

.my__arrow:hover {
  background-color: var(--red);
  color: var(--white);
  transition: 0.3s;
}

.my__arrow svg {
  width: 16px;
  height: 16px;
  stroke-width: 3.25px;
}

.my__arrow:first-child svg {
  transform: rotate(90deg);
  margin-right: 2px;
}

.my__arrow:last-child svg {
  transform: rotate(-90deg);
  margin-left: 2px;
}

.desktop {
  display: block !important;
}

.mobile {
  display: none !important;
}

.popup {
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: fixed;
  inset: 0;
}

.popup.show {
  opacity: 1;
  transition: 0.5s;
  pointer-events: all;
}

/* === BOOTSTRAP === */
.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button,
.accordion-item {
  border: none !important;
  border-radius: 0px !important;
}

.accordion-item {
  border-radius: 8px !important;
  overflow: hidden !important;
  z-index: 0 !important;
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
  border-color: unset !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed),
.accordion-button {
  background-color: #ee464f !important;
  color: var(--cl-white) !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.accordion-button.collapsed svg {
  transform: rotate(-90deg);
  transition: 0.3s;
}

.accordion-button::after {
  display: none !important;
}

.accordion-body {
  color: rgba(255, 255, 255, 0.85) !important;
  font-size: 16px !important;
  line-height: 24px !important;
  padding-inline: 24px !important;
  padding-bottom: 18px !important;
}

.accordion-button {
  font-size: 18px !important;
  line-height: 22px !important;
}

@media (max-width: 880px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  main {
    padding-top: 80px;
  }
}
