.news_section {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.single_news_inner {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 64px;
}

.single_news_top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.single_news_extra {
  display: flex;
  align-items: center;
  gap: 20px;
}

.share_btn {
  width: 44px;
  height: 44px;
  display: grid;
  place-items: center;
  background-color: var(--red);
  color: var(--white);
  border-radius: 50%;
}

.share_btn svg {
  width: 20px;
  height: 20px;
}

.single_news_date {
  height: 44px;
  padding-inline: 40px;
  border-radius: 27px;
  display: grid;
  place-items: center;
  background-color: rgba(215, 42, 51, 0.1);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--red);
}

.single_news_img {
  position: relative;
  width: 100%;
  height: 480px;
  background-color: var(--red);
}

.single_news_desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 32px;
}

.single_news_desc p {
  font-size: 16px;
  line-height: 24px;
  color: var(--red);
}

@media (max-width: 1800px) {
  .news_section {
    gap: 24px;
  }
  .single_news_inner {
    margin-top: 48px;
    gap: 24px;
  }
}

@media (max-width: 1200px) {
  .single_news_img {
    height: 360px;
  }
}

@media (max-width: 880px) {
  .single_news_img {
    height: 320px;
    border-radius: 12px;
    overflow: hidden;
  }
}

@media (max-width: 580px) {
  .single_news_inner {
    margin-top: 32px;
  }
  .single_news_top {
    gap: 32px;
  }
  .single_news_img {
    height: 300px;
  }
  .single_news_extra {
    gap: 16px;
  }
}

@media (max-width: 380px) {
  .single_news_img {
    height: 240px;
  }
}
