.single_product {
  background-color: var(--yellow);
}

.big_section {
  background-color: var(--yellow);
  padding-bottom: 120px;
}

.products_page_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding-block: 40px;
}

.products_page_top div {
  display: flex;
  align-items: center;
  gap: 30px;
}

.products_page_top p {
  font-size: 16px;
  line-height: 24px;
  color: var(--red);
}

.products_section {
  background-color: #f6edd1;
  border-radius: 25px 25px 0px 0px;
}

.products_container {
  padding-block: 30px;
}

.another_products_section {
  padding-block: 48px;
  background-color: #f6edd1;
  border-radius: 25px 25px 0px 0px;
}

.another_products_container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.another_products_container_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding-inline: 0px;
}

.another_products_container_buttons {
  display: flex;
  align-items: center;
  gap: 60px;
}

.another_products_container_buttons p {
  font-size: 16px;
  line-height: 24px;
  color: var(--red);
  max-width: 285px;
}

.another_products_container_buttons_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.single_product_inner {
  padding-top: 40px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
}

.j_btn {
  display: grid;
  place-items: center;
}

.j_btn a,
.j_btn button {
  width: fit-content;
}

.product_titles {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--red);
}

.product_info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--red);
}

.info_container > p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
}

.info_div p {
  font-size: 16px;
  line-height: 24px;
}

.product_image {
  display: inline-block;
  max-width: 580px;
  width: 100%;
  height: 380px;
  object-fit: contain;
  margin: 0 auto;
}

.inner_bottom_button {
  margin-top: 48px;
}

@media (max-width: 1200px) {
  .another_products_container_buttons p {
    display: none;
  }
  .single_product_inner {
    gap: 48px;
  }
  .product_image {
    height: 300px;
  }
}

@media (max-width: 880px) {
  .another_products_container {
    gap: 32px;
  }
  .another_products_container_buttons {
    max-width: 100%;
    width: 100%;
  }
  .another_products_container_buttons_container {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .big_section {
    background-color: unset;
    padding-bottom: 48px;
  }
  .single_product {
    background-color: unset;
  }
  .single_product_inner {
    display: flex;
    flex-direction: column-reverse;
    gap: 48px;
    padding-bottom: 0px;
  }
}

@media (max-width: 580px) {
  .products_page_top {
    padding-top: 32px;
    padding-bottom: 0px;
  }
  .products_page_top div {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .product_image {
    height: 280px;
  }
  .inner_bottom_button {
    display: grid;
    place-items: center;
  }
  .inner_bottom_button button,
  .inner_bottom_button a {
    min-width: 150px;
  }
  .info_div p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 380px) {
  .another_products_container_buttons_container {
    grid-template-columns: 1fr;
  }
  .product_image {
    height: 240px;
  }
}
